@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@font-face {
  font-family: 'Montserrat';
  src: url("/public/static/fonts/Montserrat-Regular.ttf");
}

@font-face {
  font-family: 'Montserrat-Bold';
  src: url("/public/static/fonts/Montserrat-Bold.ttf");
}

@font-face {
  font-family: 'Montserrat-SemiBold';
  src: url("/public/static/fonts/Montserrat-SemiBold.ttf");
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
  .body {
    background-color: black;
  }
}

body {
  @apply bg-gradient-to-r from-gray-100 to-gray-200 text-gray-800 font-sans;
  font-family: 'Montserrat', sans-serif;
}

